<div class="header-top">
  <p>Çok yakında bu alan adresinde hizmetinizde! - <u>Erken erişim için abone olun.</u></p>
</div>
<div class="main">
  
  <header class="header">
    <ul class="menu" #menu>
      <li class="menu__item">
        <a class="menu__link" style="margin-left: 250px;"><img src="assets/new&art.png" alt=""></a>
      </li>
      <!-- <li class="menu__item">
        <a class="menu__link"> </a>
      </li>
      <li class="menu__item">
        <a class="menu__link">How it Works</a>
      </li>
      <li class="menu__item">
        <a class="menu__link">Benefits</a>
      </li>
      <li class="menu__item">
        <a class="menu__link">Testimonials</a>
      </li> -->
    </ul>
    <ul class="menu menu-right" #menuSecond>
      <li class="menu__item">
        <a class="menu__link">Blog</a>
      </li>
      <li class="menu__item">
        <a class="menu__link">FAQ</a>
      </li>
    </ul>
  </header>
  <section class="first-section">
    <div class="info">
      <h1 class="heading-1">
        Kaliteli işçilik, <br>düşük fiyatla buluşuyor.
      </h1>
      <p class="paragraph">
        En iyi markalarla aynı üreticilerden aynı kalite ve özenle hazırlanmış 1000'den fazla ürünü satın alın.
      </p>
      <!-- <a class="btn btn--start">Çok Yakında!</a> -->
    </div>
    <div class="visuals">
      <div class="image-container">
        <img
          #imageFirst
          src="assets/image_1.jpg"
          alt=""
        />
      </div>
      <div class="image-container">
        <img
          #imageSecond
          src="assets/image_2.jpg"
          alt=""
        />
      </div>
    </div>
  </section>
  <section class="second-section" #secondSection>
    <div class="box"></div>
    <h4 class="heading-4" id="about"></h4>
    <h1 class="heading-1" id="buy">Toptan fiyatına mobilya satın alın.</h1>
    <div class="info-1">
      <div class="info-1__text">
        <span class="quote">
          "
        </span>
        <h2 class="heading-3">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </h2>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum labore
          tempora eveniet adipisci sunt harum, eos nobis asperiores cumque
          veniam fuga fugit eius ab reiciendis, culpa id recusandae illum
          quisquam!
        </p>
        <a class="btn--learn">Learn More</a>
      </div>
      <div class="info-1__visual">
        <img src="assets/image3.jpg" alt="">
      </div>
    </div>

  </section>
</div>